# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/Ejercicio3Arrays/nbproject/private/
/Ejercicio3Arrays/build/
/Ejercicio4Arrays/nbproject/private/
/Ejercicio4Arrays/build/
/Ejercicio5Arrays/nbproject/private/
/Ejercicio5Arrays/build/
/Ejercicio7ArrayList/build/
/Ejercicio7ArrayList/nbproject/private/
/Ejercicio8ArrayList/nbproject/private/
/Ejercicio10Validaciones/nbproject/private/
/Ejercicio9Validaciones/nbproject/private/
/Ejercicio9Validaciones/build/
/Ejercicio10Validaciones/build/
/Ejercicio11Validaciones/nbproject/private/
/Ejercicio11Validaciones/build/
/Ejercicio12Validaciones/nbproject/private/
/Ejercicio12Validaciones/build/
/Ejercicio13Validaciones/nbproject/private/
/Ejercicio13Validaciones/build/
/Ejercicio14Clases/nbproject/private/
/Ejercicio14Clases/build/
/Ejercicio17Clases/nbproject/private/